* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
}
html {
    font-family: "Catamaran", sans-serif;
    font-size: 1rem;
}
body{
    background-color: #ecf1df;
    text-align: center
}
 nav {
    background-color: #45513D;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 9vh;
    gap: 0.5rem;
}
nav > a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}
a:hover {
    background-color:  #818C71;
} 
#accounts-wrapper {
    display: flex;
    flex-direction: column;
}
.account {
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 4vh;
}
div#accounts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing:border-box;
    gap: 1rem;
    padding: 1rem 0rem 0rem 1rem;
    float: left;
}
div#accounts-wrapper > div {
    display: flex;
    background-color: #BBC4A6;
    width: 35vw;
    height: 20vh;
    border-radius: 0.5rem;
    flex-wrap: wrap;
}
div#accounts-wrapper * {
    flex-wrap: wrap;
    box-sizing: border-box;
}
div#accounts-wrapper > div > div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div button {
    background-color: #818C71;
    border-radius: 0.25rem;
    transition: 150ms ease;
    border: none;
}
div button:hover {
    background-color: #636F57;

}
div#transaction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    gap: 1rem;
    padding: 1rem 1rem 0rem 0rem;
}
div#transaction-wrapper > div#transactions {
    width: 50vw;
    height: 20vh;
    background-color: #BBC4A6;
    border-radius: 0.5rem;
}
 p {
    font-size: 25px;
    color: rgb(49, 49, 49);
    display: flex;
    justify-content: start;
}
h1 {
    color: #45513D;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#savings-withdraw-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#savings-deposit-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#savings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 30vw;
    background-color: #ecf1df;
    border-radius: 0.5rem;
    position: relative;
}
label#savings-withdraw-exit {
    position: absolute;
    top: 0;
    right: 0.1rem;
    cursor: pointer;
}
label#savings-deposit-exit {
    position: absolute;
    top: 0;
    right: 0.1rem;
    cursor: pointer;
}
div#checkings-withdraw-popup  {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
div#checkings-deposit-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#checkings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 30vw;
    background-color: #ecf1df;
    border-radius: 0.5rem;
    position: relative;
}
label#checkings-withdraw-exit {
    position: absolute;
    top: 0;
    right: 0.1rem;
    cursor: pointer;
}
label#checkings-deposit-exit {
    position: absolute;
    top: 0;
    right: 0.1rem;
    cursor: pointer;
}

input {
    width: 15vw;
    height: 5vh;
    border-radius: 0.3rem;
    border: none;
    border: 0.14rem solid #BBC4A6;
    background-color: #BBC4A6;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
/* div#profile-view-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
} */