* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Catamaran", sans-serif;
    font-size: 1rem;
}
body{
    background-color: #ecf1df;
    text-align: center
}
 nav {
    background-color: #45513D;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 9vh;
    gap: 0.5rem;
}
nav > a {
    text-decoration: none;
    color: white;
    /* background-Color: #636F57; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}
a:hover {
    background-color:  #818C71;
} 
div#accounts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0rem 0rem 1rem;
    float: left;
}
div#accounts-wrapper > div {
    display: flex;
    background-color: #BBC4A6;
    width: 35vw;
    height: 20vh;
    border-radius: 0.5rem;
}
div#transaction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    gap: 1rem;
    padding: 1rem 1rem 0rem 0rem;
}
div#transaction-wrapper > div#transactions {
    width: 50vw;
    height: 20vh;
    background-color: #BBC4A6;
    border-radius: 0.5rem;
}
 p {
    font-size: 25px;
    color: rgb(49, 49, 49);
}
h1 {
    color: #45513D;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5vw;
    height: 4vh;
}
div#savings-withdraw-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#savings-deposit-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#savings-content {
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 0.5rem;
}
label#savings-withdraw-exit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
label#savings-deposit-exit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div#checkings-withdraw-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#checkings-deposit-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
div#checkings-content {
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 0.5rem;
}
label#checkings-withdraw-exit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
label#checkings-deposit-exit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}