body{
    background-color: #f1f1f1;
    text-align: center;
    background-repeat: no-repeat;
    font-family: Cash Sans, Helvetica Neue, helvetica, sans-serif;     
    margin:0;
    text-shadow: 2px;
}

h1{
    text-align: left;
    justify-content: left;
    font-family: sans-serif;
}

nav {
    position: fixed;
    width:100%;
}

div#nav {
    display:flex;
    justify-content: right;
    justify-items: right;
}

#login-button{
    border-radius: 50px;
    border:none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1vh;
    margin-top: 1vh;
    color: #F1F1F1;
    background: linear-gradient(90deg, rgb(209, 7, 209),blue)

}

div#parent-container {
    display:flex;
    height: 50vh;
    justify-content: center;
    align-items: end;
    padding-bottom: 5%;
}

div#box1 {
    display:flex;
    width: 30vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    
}

h1.title {
    font-size: 10em;
    background: linear-gradient(rgb(209, 7, 209), BLUE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#body-content-container {
    display:flex;
    background-color: black;
    justify-content: space-evenly;
}

div.body-content1 {
    color: white;
    width:40vw;
}

.bodyh1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(209, 7, 209), BLUE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: black;
    color: white;
}

ul {
    line-height: 2;
}

.typing {
    border-right: 2px solid black;
    animation: blinking 1s steps(1, end) infinite, typing 1.5s steps(40, end);
    white-space: nowrap;
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
}