* {
    transition: 0.5s ease-in-out;
}
body{
    background-color: #f1f1f1;
    text-align: center;
    background-repeat: no-repeat;
    font-family: Cash Sans, Helvetica Neue, helvetica, sans-serif;    
    margin:0;
    text-shadow: 2px;
}

h1{
    text-align: left;
    justify-content: left;
    font-family: sans-serif;
}

nav {
    position: fixed;
    width:100%;
}

#login-button:hover {
    animation:horizontal-shaking 0.65s ease-in-out 1;
    box-shadow: 0px 0px 10px rgb(251, 6, 251);
    filter: invert(100%) hue-rotate(180deg);
}

div#nav {
    display:flex;
    justify-content: right;
    justify-items: right;
}

#login-button{
    border-radius: 50px;
    border:none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1vh;
    margin-top: 1vh;
    color: #F1F1F1;
    background: linear-gradient(90deg, rgb(209, 7, 209),blue);
}

div#parent-container {
    display:flex;
    height: 50vh;
    justify-content: center;
    align-items: end;
    padding-bottom: 5%;
}

div#box1 {
    display:flex;
    width: 30vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
   
}

h1.title {
    font-size: 10em;
    background: linear-gradient(rgb(209, 7, 209), BLUE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#body-content-container {
    display:flex;
    background-color: black;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px rgb(251, 6, 251);
}
#body-content-container:hover {
}

div.body-content1 {
    color: white;
    width:40vw;
}

.bodyh1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(209, 7, 209), BLUE);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: black;
    color: white;
}

ul {
    line-height: 2;
}
.body-content1 h1 {
    border-bottom: 2px solid rgb(255, 1, 255);
}
#footer h1 {
    border-bottom: 2px solid rgb(255, 1, 255);
}
#image-container {
    height: 40vh;
}

.typing {
    border-right: 2px solid black;
    animation: blinking 1s steps(1, end) infinite, typing 1.5s steps(40, end);
    white-space: nowrap;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
}
.example {
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 50%;
    margin: 2rem auto;
   
    > .block {
        position: absolute;
        height: 100%;
        width: 30%;
        perspective: 1000px;
       
        &:nth-of-type(1) {
            height: 30%;
            top: 0%;
            left: 45%;
            width: 15%;
        }
    }
   
    > .block > .side {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('https://img.freepik.com/premium-vector/bitcoin-symbol-isolated-white-crypto-currency-golden-symbol-vector-illustration_166207-428.jpg');
        background-size: auto 100%;
        box-shadow: -1vw 5px 20px rgba(0, 0, 0, 0.7);
       
        &.-main {  
            height: 100%;
            width: 100%;
            transform: rotateY(30deg);
            transform-origin: 0 50%;
        }
       
        &.-left {
            height: 100%;
            width: 20%;
            transform-origin: 0 50%;
            transform: rotateY(-60deg) translateX(-100%);
            filter: brightness(50%);
        }
    }
   
    > .block:nth-of-type(1) > .side {
        &.-main {
            background-position: 4% 50%;
            background-size: auto 100%;
        }
       
        &.-left {
            background-position: 0 50%;
            background-size: auto 100%;
        }
    }
}